/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 20px
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 1.5em;
    color: #222222;
}
#wrap{
    min-width: 1360px;
    overflow: hidden;
}
/* top */
.video{
    position: relative;
    height: 800px;
    overflow: hidden;
}
video{
    display: block;
    height: 800px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -960px;
}
/* header */
.header_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.inner_header{
    width: 1320px;
    margin: 0 auto;
    color: #222;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: block;
    margin-top: 35px;
}
.gnb{
    display: flex;
}
.gnb li a{
    display: block;
    margin: 40px 53px 0 53px;
    font-weight: 700;
}
.search_bar{
    display: flex;
    align-items: center;
    width: 194px;
    margin-top: 45px;
    background-color: #fff;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border-radius: 90px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.search_img img{
    display: block;
    margin-right: 10px;
}
.search_bar input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 10px;
}
/* banner */
.banner{
    width: 1320px;
    margin: 0 auto;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2em;
}
/* section1 */
#section1{
    width: 1320px;
    margin: 130px auto;
}
.title{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2em;
}
.center{
    text-align: center;
}
span{
    color: #FF7700;
}
/* content */
.content_wrap{
    position: relative;
}
/* content1 */
.hidden{
    overflow: hidden;
}
.content1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 40px;
    background: url(../images/main/section1/main_section1_circle1.svg) no-repeat left 685px top 20%;
}
.section1_img img{
    display: block;
}
.section_t p{
    margin-top: 30px;
}
/* animation */
@keyframes butterfly{
    0%{
        top: 0;
        left: 0;
    }
    50%{
        top: 50px;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}
.svg1{
    position: absolute;
    top: -170px;
    left: -120px;
    z-index: 9;
}
.sticker_wrap{
    width: 100px;
    height: 100px;
    position: relative;
}
.svg1 img{
    position: absolute;
    top: 0;
    left: 0;
    animation: butterfly 3s infinite;
}
/* animation */
@keyframes redflower{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.svg2{
    position: absolute;
    bottom: 0px;
    right: -80px;
    z-index: 9; 
}
.svg2 img{
    transform: rotate(0);
    animation: redflower 6s infinite linear;
}
/* content2 */
.content2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    background: url(../images/main/section1/main_section1_circle2.svg) no-repeat left 50px top 23%;
}
/* content3 */
.content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    background: url(../images/main/section1/main_section1_circle3.svg) no-repeat right 320px top 43%;
}
.content3_margin{
    margin-left: 30px;
}
.content3_center{
    margin-right: 300px;
}
/* animation */
@keyframes leaf{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0);
    }
}
.svg3{
    position: absolute;
    bottom: -100px;
    left: -80px;
    z-index: 9; 
}
.svg3 img{
    transform: rotate(0);
    animation: leaf 3s linear infinite;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn a{
    display: inline-block;
    border: #FF7700 solid 1px;
    padding: 15px 75px;
    color: #FF7700;
    font-size: 26px;
    font-weight: 500;
}
.btn a:hover{
    background-color: #FF7700;
    color: #fff;
}
/* section2 */
@keyframes flow1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
@keyframes flow2{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
.animated-title{
    font-size: 144px;
    font-weight: 700;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.flow-text .animated-title .track{
    white-space: nowrap;
    position: absolute;
    top: 85px;
    left: 0;
    animation: flow1 30s linear infinite;
}
.flow-text .animated-title .track2{
    white-space: nowrap;
    position: absolute;
    top: 85px;
    left: 0;
    animation: flow2 30s linear infinite;
}
.section2_color1{
    color: #FF7700;
}
.section2_color2{
    color: #1E2D37;
}
.section2_color3{
    color: #fff;
    text-shadow: 0 0 2px #000;
}
/* section2_img */
.slogan_position{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.slogan_circle{
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -189.5px;
    z-index: 9;
    pointer-events: none;
}
.section2_img{
    margin: 0 13px;
}
.section2_img img{
    display: block;
}

/* slick */
.slick_wrap{
    width: 1320px;
    margin: 0 auto;
}
.slider {
    width: 100%;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  display: block;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

/* section3 */
#section3{
    width: 1320px;
    margin: 130px auto;
}
.title_wrap{
    display: flex;
    justify-content: center;
}
/* 아코디언 */
.accordion_wrap{
    width: 1320px;
    margin: 0 auto;
    height: 520px;
    position: relative;
}
.flex-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden;
  }
  /* @media screen and (max-width: 768px) {
  
  .flex-container { flex-direction: column; }
  } */
  
  .flex-title {
    color: #f1f1f1;
    position: relative;
    font-size: 18px;
    margin: auto;
    text-align: center;
    transform: rotate(90deg);
    top: 15%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    line-height: 2.5em;
  }
  @media screen and (max-width: 768px) {
  
  .flex-title { transform: rotate(0deg) !important; }
  }

  .flex-title span{
    color: inherit;
    font-size: 48px;
    font-weight: 600;
  }
  
  .flex-about {
    opacity: 0;
    color: #f1f1f1;
    position: relative;
    width: 70%;
    font-size: 28px;
    padding: 5%;
    top: 20%;
    margin: auto;
    text-align: left;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    line-height: 1.4em;
  }
  @media screen and (max-width: 768px) {
  
  .flex-about {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
  }
  
  .flex-slide {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  @media screen and (max-width: 768px) {
  
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
  }
  }
   @media screen and (max-width: 768px) {
  
  .flex-slide p { font-size: 1em; }
  }
   @media screen and (max-width: 768px) {
  
  .flex-slide ul li { font-size: 2em; }
  }
  
  .flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  
  .home {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main/section3/main_section3_1.jpg);
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    border-radius: 25px;
  }
  @media screen and (min-width: 768px) {
  
  .home {
    -moz-animation: aboutFlexSlide;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
    -webkit-animation: aboutFlexSlide;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: aboutFlexSlide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  }
   @keyframes 
  aboutFlexSlide {  0% {
   -webkit-flex-grow: 1;
   flex-grow: 1;
  }
   50% {
   -webkit-flex-grow: 3;
   flex-grow: 3;
  }
   100% {
   -webkit-flex-grow: 1;
   flex-grow: 1;
  }
  }
  @media screen and (min-width: 768px) {
  
  .flex-title-home {
    transform: rotate(90deg);
    top: 15%;
    -moz-animation: homeFlextitle;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
    -webkit-animation: homeFlextitle;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: homeFlextitle;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  }
   @keyframes 
  homeFlextitle {  0% {
   transform: rotate(90deg);
   top: 15%;
  }
   50% {
   transform: rotate(0deg);
   top: 15%;
  }
   100% {
   transform: rotate(90deg);
   top: 15%;
  }
  }
  
  .flex-about-home { opacity: 0; }
  @media screen and (min-width: 768px) {
  
  .flex-about-home {
    -moz-animation: flexAboutHome;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0s;
    -webkit-animation: flexAboutHome;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0s;
    animation: flexAboutHome;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
  }
   @keyframes 
  flexAboutHome {  0% {
   opacity: 0;
  }
   50% {
   opacity: 1;
  }
   100% {
   opacity: 0;
  }
  }
  
  .about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main/section3/main_section3_2.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    margin: 0 20px 0 20px;
  }
  
  .contact-form { width: 100%; }
  
  input { width: 100%; }
  
  textarea { width: 100%; }
  
  .work {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main/section3/main_section3_3.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
  }
  
/* section4 */
#section4{
    background: url(../images/main/section4/main_section4_1.png) center top no-repeat;
    height: 780px;
}
.inner_section4{
    width: 1320px;
    margin: 0 auto;
}
.text_wrap{
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product{
    font-size: 64px;
    line-height: 1.2em;
    font-weight: 600;
    margin-top: 30px;
}
.radius{
    width: 90px;
    text-align: center;
    font-size: 26px;
    padding: 10px 35px;
    background-color: #FFDB15;
    border-radius: 30px 30px 30px 30px;
    margin: 50px 0;
}
.salad{
    font-size: 48px;
    line-height: 1.2em;
}
.btn_left{
    display: flex;
    justify-content: start;
    padding-bottom: 103px;
}
/* section5 */
#section5{
    width: 1320px;
    margin: 130px auto; 
}
.speech{
    background: url(../images/main/section5/main_section5_speech.png) no-repeat left 820px top 0px;
    padding-top: 10px;
}
/* animation */
@keyframes idea{
    0%{
        transform: rotate(-20deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}
.idea_sticker img{
    transform: rotate(-20deg);
    animation: idea 3s linear infinite;
}
.news_subject{
    display: flex;
    justify-content: space-between;
}
.subject_t{
    font-size: 40px;
    font-weight: 600;
}
.shortcut a{
    display: block;
    font-size: 28px;
}
.news_wrap{
    margin-top: 20px;
}
.news_up, .news_down{
    display: flex;
    justify-content: space-between;
}
/* transform */
.news_up div{
    margin-bottom: 15px;
}
.box_deco div{
    width: 427px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}
.news_up div img{
    display: block;
    width: 100%;
    transform: scale(1);
    transition: all 0.5s;
}
.news_up div img:hover{
    transform: scale(1.1);
} 
.news_down div img{
    display: block;
    width: 100%;
    transform: scale(1);
    transition: all 0.5s;
}
.news_down div img:hover{
    transform: scale(1.1);
} 
/* section6 */
#section6{
    background: url(../images/main/section6/main_section6_bg.jpg) no-repeat center top;
    height: 800px;
}
.inner_section6{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
/* animation */
@keyframes flower{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}
.flower_sticker{
    display: flex;
    justify-content: end;
    margin-right: 100px;
}
.flower_sticker img{
    transform: rotate(0);
    animation: flower 6s infinite linear;
}
.center_wrap{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subject_wrap{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.event_wrap{
    display: flex;
    justify-content: space-between;
}
.event_scale{
    width: 315px;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    cursor: pointer;
}
.event div img{
    width: 100%;
    display: block;
    transform: scale(1);
    transition: all 0.5s;
}
.event p{
    text-align: center;
    font-size: 28px;
}
.event:hover .event_scale img{
    transform: scale(1.1);
}
/* animation */
@keyframes flower2{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.flower_sticker2{
    position: absolute;
    bottom: -50px;
    left: 300px;
    width: 100%;
    z-index: 99;
}
.flower_sticker2 img{
    transform: rotate(0);
    animation: flower2 10s infinite linear;
}
/* footer */
#footer{
    border-top: #ddd solid 1px;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto; 
    padding-top: 50px;
    display: flex; 
    justify-content: space-between;
}
.footer_logo{
    margin-left: 50px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link li a{
    display: block;
    margin: 0 40px 30px 0;
}
.fax_mg{
    margin-left: 90px;
}
.copyright_mg{
    margin: 30px 0 100px 0;
}
.icon{
    width: 210px;
    display: flex;
    justify-content: space-around;
}
