
*{margin:0; padding:0;}
ul, ol{list-style:none;}
a{text-decoration:none; color:#333;}

#contents{
	width:1320px;
	margin: 66px auto;
}

.screen{
	position:relative;
	overflow:hidden;
}

.screen img{
	width:100%;
	display:block;
	border-radius: 15px 15px 15px 15px;
	background-color: aquamarine;
}

.bottom{
	padding:10px 0;
	position:absolute;
	width:100%;
	top:20%;
	left:0;
	z-index:2;
	font-weight:bold;
	color:#333;
	transition:all 0.7s;
	text-align:center;
	background:rgba(255,255,255,0.7);
}

.swiper-slide-next .bottom{bottom:0%;}
.swiper-slide{transform:scale(0.8); transition: all 1s;}
.swiper-slide-next{transform:scale(1);}
.swiper-slide-duplicate-prev{transform:scale(0.7);}


