/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 20px
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 1.5em;
    color: #222222;
}
#wrap{
    min-width: 1360px;
    overflow: hidden;
}
/* sub1 */
/* header */
#top{
    background: url(../images/sub1/header/sub1_header_banner.jpg) no-repeat center top;
    height: 800px;
    position: relative;
}
.header_wrap{
    background-color: #fff;
    box-shadow: 0 8px 5px -5px rgba(0,0,0,0.1);
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.inner_header{
    width: 1320px;
    margin: 0 auto;
    color: #222;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: block;
    margin-top: 35px;
}
.gnb{
    display: flex;
}
.gnb li a{
    display: block;
    margin: 40px 53px 0 53px;
    font-weight: 700;
}
.search_bar{
    display: flex;
    align-items: center;
    width: 194px;
    height: 25px;
    margin-top: 45px;
    background-color: #fff;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border-radius: 90px;
    border: 1px solid #cccccc;
}
.search_img img{
    display: block;
    margin-left: 10px;
}
.search_bar input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 10px;
}
/* banner */
.inner_banner{
    width: 1320px;
    margin: 0 auto;
}
.sub_center{
    text-align: center;
    margin-top: 300px;
    font-weight: 700;
}
.t_w span{
    color: #fff;
    font-size: 20px;
}
.t_w{
    font-size: 48px;
    color: #fff;
}
.pad{
    margin-top: 240px;
}
/* sub1_section1 */
#sub1_section1{
    width: 1320px;
    margin: 130px auto;
}
.title{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2em;
}
.center{
    text-align: center;
}
.Kategorie{
    margin-top: 46px;
}
.Kategorie img{
    display: block;
}
.ktgr1, .ktgr2, .ktgr3{
    display: flex;
}
.text_wrap{
    margin: 90px 0 0 113px;
    position: relative;
}
.deco1{
    position: absolute;
    top: -50px;
    left: -60px;
}
/* animation */
@keyframes twinkle{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(7deg);
    }
    100%{
        transform: rotate(0);
    }
}
.deco2{
    position: absolute;
    top: -70px;
    right: -20px;
    animation: twinkle 4s linear infinite;
    transform: rotate(0);
}
.t_margin{
    margin: 25px 0 20px 0;
}
.border{
    display: flex;
}
.border li{
    border: 1px solid #adadad;
    border-radius: 30px 30px 30px 30px;
    padding: 8px 23px 8px 23px;
}
.border li:nth-child(1){
    margin-right: 13px;
}
.ktgr2{
    justify-content: flex-end;
}
.text_wrap2{
    margin: 90px 74px 0 0;
    text-align: end;
    position: relative;
}
/* animation */
@keyframes star{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.deco3{
    position: absolute;
    top: -40px;
    left: 38px;
    transform: rotate(0deg);
    animation: star 9s linear infinite;
}
.text_wrap2 ul{
    justify-content: end;
}
.ktgr3{
    margin-top: 20px;
}
.text_wrap3{
    margin: 70px 0 0 103px;
    position: relative;

}
.deco4{
    position: absolute;
    top: -40px;
    left: -50px;
}
/* animation */
@keyframes flower{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}
.deco5{
    position: absolute;
    top: 5px;
    right: -40px;
    transform: rotate(360deg);
    animation: flower 5s linear infinite;
}
/* sub1_section2 */
#sub1_section2{
    width: 1320px;
    margin: 130px auto;
}
.speaker{
    position: relative;
}
/* animation */
@keyframes speaker{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(0);
    }
}
.deco6{
    position: absolute;
    top: -50px;
    right: 430px;
    transform: rotate(0);
    animation: speaker 3s linear infinite;
}
.circle_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}
.brand_position{
    position: relative;
}
.circle_border{
    border: #FF7700 solid 1px;
    border-radius: 50%;
    width: 492px;
    height: 492px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.font_deco{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
}
.circle_bg{
    background-color: #ff7700e8;
    border-radius: 50%;
    width: 492px;
    height: 492px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.circle_ps{
    position: absolute;
    top: 0;
    left: 414px;
    z-index: 9;
}
/* sub1_section3 */
#sub1_section3{
    width:1320px;
	margin: 130px auto;
}
.puzzle{
    position: relative;
}
.deco7{
    position: absolute;
    top: -65px;
    left: 430px;
}
/* sub1_section4 */
#sub1_section4{
    background: url(../images/sub1/section4/sub1_section4_bg.jpg) no-repeat center bottom -69px;
    height: 750px;
}
.inner_sub1_section4{
    width: 1320px;
    height: 750px;
	margin: 0 auto;
}
.youtube{
    display: flex;
    justify-content: center;
}
.youtube iframe{
    display: block;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 47px;
}
.youtube_t{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.youtube_t p{
    padding: 35px 0 70px 0;
}
.line{
    width: 50px;
    background-color: #222222;
    padding: 1px 1px 1px 1px;
}
/* sub_section5 */
.sub1_section5{
    width: 1320px;
    margin: 0 auto;
    padding-top: 130px;
}
.address_wrap{
    display: flex;
    justify-content: space-around;
}
.address_icon{
    display: flex;
    margin: 60px 0 70px 0;
}
.address_icon p{
    margin-left: 40px;
}
.icon_wrap{
    width: 70px;
    height: 70px;
    background: url(../images/sub1/section5/sub1_section5_circle.png) no-repeat center top;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    position: relative;
    height: 630px;
}
.map iframe{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
/* footer */
#footer{
    border-top: #ddd solid 1px;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto; 
    padding-top: 50px;
    display: flex; 
    justify-content: space-between;
}
.footer_logo{
    margin-left: 50px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link li a{
    display: block;
    margin: 0 40px 30px 0;
}
.fax_mg{
    margin-left: 90px;
}
.copyright_mg{
    margin: 30px 0 100px 0;
}
.icon{
    width: 210px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
