/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 20px
}
body{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    line-height: 1.5em;
    color: #222222;
}
#wrap{
    min-width: 1360px;
    overflow: hidden;
}
#wrap{
    min-width: 1360px;
    overflow: hidden;
}
/* header */
#top{
    padding-top: 110px;
    position: relative;
}
.header_wrap{
    background-color: #fff;
    box-shadow: 0 8px 5px -5px rgba(0,0,0,0.1);
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.inner_header{
    width: 1320px;
    margin: 0 auto;
    color: #222;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: block;
    margin-top: 35px;
}
.gnb{
    display: flex;
}
.gnb li a{
    display: block;
    margin: 40px 53px 0 53px;
    font-weight: 700;
}
.search_bar{
    display: flex;
    align-items: center;
    width: 194px;
    height: 25px;
    margin-top: 45px;
    background-color: #fff;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border-radius: 90px;
    border: 1px solid #cccccc;
}
.search_img img{
    display: block;
    margin-left: 10px;
}
.search_bar input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 10px;
}
/* title */
.title{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2em;
}
.center{
    text-align: center;
}
/* sub4_section1 */
#sub4_section1{
    width: 1320px;
    margin: 130px auto;
}
/* q_box */
.question_box{
    margin-top: 35px;
}
.group_box{
    display: flex;
    justify-content: space-between;
}
.top_blank{
    margin-top: 12px;
}
.box1{
    display: inline-block;
    width: 571px;
    height: 209px;
    border-radius: 30px 30px 30px 30px;
    padding: 40px 40px 33px 38px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.12);
    cursor: pointer;
}
.q_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.group_box p{
    color: #1E2D37;
    line-height: 1.1em;
}
.number{
    display: flex;
    justify-content: space-between;
    color: #CBCBCB;
    font-size: 65px;
}
.number img{
    display: block;
}
.number h2{
    padding-top: 30px;
}
.q_box_font{
    font-size: 28px;
    font-weight: 700;
    padding: 20px 0;
}
.letter_spacing{
    letter-spacing: -0.1px;
}
/* transform */
.box_left{
    transform: translate(0px,0px);
    overflow: hidden;
    transition: transform 0.5s;
}
.box_left:hover{
    transform: translate(-10px,-10px);
}
.box_right{
    transform: translate(0px,0px);
    overflow: hidden;
    transition: transform 0.5s;
}
.box_right:hover{
    transform: translate(10px,-10px);
}
.box_left2{
    transform: translate(0px,0px);
    overflow: hidden;
    transition: transform 0.5s;
}
.box_left2:hover{
    transform: translate(-10px,10px);
}
.box_right2{
    transform: translate(0px,0px);
    overflow: hidden;
    transition: transform 0.5s;
}
.box_right2:hover{
    transform: translate(10px,10px);
}
/* sub4_section2 */
#sub4_section2{
    width: 1320px;
    margin: 130px auto;
}
/* announcement */
.board{
    margin-top: 23px;
    border-top: 1px solid #707070;
}
.board> li{
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
}
.list{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.list:hover{
    color: #F56120;
    }
.list li{
    text-align: center;
    font-size: 31px;
}
.list li:nth-child(1){
    width: 10%;
    font-weight: 500;
}
.list li:nth-child(2){
    width: 80%;
    font-weight: 500;
    text-align: left;
}
.list li:nth-child(3){
    width: 10%;
}
.answer{
    background-color: #F3F3F3;
    border-radius: 10px;
    display: flex;
    margin-top: 30px;
    padding: 57px 0 45px 39px;
}
.answer_icon{
    width: 10%;
    text-align: center;
    font-weight: bold;
}
.answer_text2{
    margin-top: 67px;
    width: 38%;
    display: flex;
    justify-content: space-between;
}
.turn{
    transform: rotate(180deg);
    transition: transform 0.5s;
}
/* sub4_section3 */
#sub4_section3{
    background-color: #F5F5F5;
    height: 360px;
}
.inner_sub4_section3{
    width: 1320px;
    margin: 130px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inner_sub4_section3 img{
    display: block;
}
.letter_spacing2{
    letter-spacing: 4px;
}
.faq{
    margin: 20px 0 30px;
}
.btn{
    text-align: end;
}
.btn a{
    display: inline-block;
    background-color: #222222;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 10px 0;
    width: 122px;
}
.btn a:hover{
    background-color: #FF7700;
    color: #fff;
}
/* footer */
#footer{
    border-top: #ddd solid 1px;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto; 
    padding-top: 50px;
    display: flex; 
    justify-content: space-between;
}
.footer_logo{
    margin-left: 50px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link li a{
    display: block;
    margin: 0 40px 30px 0;
}
.fax_mg{
    margin-left: 90px;
}
.copyright_mg{
    margin: 30px 0 100px 0;
}
.icon{
    width: 210px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}